@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';

:root {
	--dk-gray-100: #F3F4F6;
	--dk-gray-200: #E5E7EB;
	--dk-gray-300: #D1D5DB;
	--dk-gray-400: #9CA3AF;
	--dk-gray-500: #6B7280;
	--dk-gray-600: #4B5563;
	--dk-gray-700: #374151;
	--dk-gray-800: #1F2937;
	--dk-gray-900: #111827;
	--dk-dark-bg: #313348;
	--dk-darker-bg: #2a2b3d;
	--navbar-bg-color: #6f6486;
	--sidebar-bg-color: #252636;
	--sidebar-width: 250px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #fbda61, #ff5acd);
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color:rgb(35, 34, 34);
}
#go-top{
    position: fixed;
    display: none;
    right: 10px;
    bottom: 10px;
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    cursor: pointer;
    background-color: #d65050;
}
#go-top:hover{
    border: 2px solid #000000;
    transition: .4s;
    background-color: #ffffff;
    color: #d65050;
}

.afterLine {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease-in;
}

.afterLine::after {
    content: " ";
    width: 65%;
    height: 1.9px;
    margin-top: 6px;
    border-radius: 20px;
    color: red;
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0),
            rgb(221, 32, 32),
            rgba(255, 255, 255, 0));
    transition: 0.2s ease-in;
}

.activePage {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: -3px;

}

.activePage:after {
    align-self: center;
    content: " ";
    width: 75%;
    margin-top: 2px;
    height: 1.7px;
    border-radius: 20px;
    background: rgb(255, 0, 0);
    transition: 0.2s ease-in;
}

.itemLink{
    width: fit-content;
    text-decoration: none;
    /* color: rgb(35, 34, 34); */
}
.mar-top {
    margin-top: 12vh;
    min-height: 80vh;
}

.btnDesign1 {
    font-size: 1rem;
    font-weight: 500;
    transition: .1s ease-in;
    color: #c86b6b;
    padding: 8px;
    border: 2px solid #c86b6b;
}

.btnDesign1:hover {
    transition: 0.3s ease-in-out;
    color: white;
    padding: 8px 30px;
    background: linear-gradient(100deg, #c86b6b, rgb(227 145 226), #e0c6e8);
    border: 2px solid #ce6565;
    /* border: none; */
}


.btnDesign2 {
    padding: 5px 30px;
    margin: 2px;
    font-size: 1.3rem;
    border-radius: 2px;
    font-weight: 500;
    /* border: 2px solid #137ae1; */
    border: 2px solid #cb148ba8;
    color: #c81812a8;
    background-color:white;
    transition: .3s ease-in-out;

}
.btnDesign2:hover{
    border: 2px solid #cb148ba8;
    /* background: linear-gradient(100deg , #cb148ba8 ,#8912e48c,) ; */
    background: #c81812a8 ;
    color: #e7efef;
}

.btnDesign3 {
    padding: 5px 30px;
    margin: 2px;
    font-size: 1.3rem;
    border-radius: 2px;
    font-weight: 500;
    /* border: 2px solid #137ae1; */
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
    background-color:white;

}
.btnDesign3:hover{
    transition: .3s ease-in-out;
    border: 2px solid #1a1a1a;
    /* background: linear-gradient(100deg , #cb148ba8 ,#8912e48c,) ; */
    background: #1a1a1a ;
    color: #e7efef;
}
