/* .card{
    position: relative;
    width: 350px;
    background: #fff;
    height: 190px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
    margin-bottom: 1rem;
  }
  .card:hover{
    height: 350px;
  }
  .card input[type="button"]{
    width: 25%;
    height: 40px;
    margin: 2vh;
    border: 1px solid;
    background: linear-gradient(120deg,#053452, #38034f);
    border-radius: 25px;
    font-size: 15px;
    color: #e9f4fb;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    margin-top: 87%;
    transition: 0.5s;
    display: flex;
    
  }
  .imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
  }
  .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card:hover.imgBx{
    height: 250px;
    width: 250px;
  }
   .card.content{
    /*this code not responding  */
   /* position: absolute;
    width: 100%;
    height:100% ;
    display: flex;
    justify-content: center;
    align-items:flex-end;
  }
  .card.content.details{
    text-align: center;
    width: 100%;
    transition: 0.5s;
  }
  .card.content.details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #ec0707;
  }
  .card-2{
    position:absolute;
    width: 350px;
    background: #fff;
    height: 190px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    overflow: hidden; 
  } */

  .flex-me-bro{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(45deg,#fbda61,#ff5acd) ;
  }

  .projectContainer .left{
    width: 20rem;
    padding: 5px;
    margin: 3rem;
   
  }
  .projectContainer .left .btndiv{
    padding-left: 1.5rem;
   
  }
  .projectContainer .projectDiv {
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px rgb(158, 146, 146);
    background: #ffffff;
     
  }
  .projectContainer .projectDiv {
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px rgb(158, 146, 146);
    background: #ffffff;
     
  }

  .projectContainer .projectDiv .card{
    width: 38rem;
    box-shadow: 0px 0px 7px 2px rgb(158, 146, 146); 
    overflow: hidden;
   
  }
  .projectContainer .projectDiv .card .card-text{
    height:7vh;   
  }

  @media screen and (max-width: 1631px) {
    .flex-me-bro{
      display: block;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background:linear-gradient(45deg,#fbda61,#ff5acd) ;
    }
  }

  @media screen and (max-width: 990px) {
    .projectContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 660px) {
    .projectContainer .left{
      width: 25rem;
      margin: 0;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
    .projectContainer .left h2{
     text-align: center;
    }
    .projectContainer .left p{
     text-align: center;
    }
    .projectContainer .left .btndiv{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
    .projectContainer .projectDiv .card{
      width: 28rem;
      
    }
    .projectContainer .projectDiv{
      padding: 1rem;
      
    }
    .projectContainer .projectDiv .card .card-text{
      height: 5.5rem;   
    }
  }
  @media screen and (max-width: 470px) {
    .projectContainer .left{
      width: 19rem;
    }
    .projectContainer .projectDiv .card{
      width: 18rem;
      
    }
    
  }
  @media screen and (max-width: 310px) {
    .projectContainer .projectDiv .card .card-text{
      height: 7rem;   
    }
    .projectContainer .left{
      width: 15rem;
    }
    .projectContainer .projectDiv{
     padding: 0;
    }
    .projectContainer .projectDiv .card{
      width: 15rem;
     
    }
  }
 
  /* input[type="button"]{
    width: 25%;
    height: 40px;
    margin: 2vh;
    border: 1px solid;
    background: linear-gradient(120deg,#053452, #38034f);
    border-radius: 25px;
    font-size: 15px;
    color: #e9f4fb;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    margin-left: 200%;
  } */