{% extends 'user/basic.html' %}
{%load static %} 
{%block title%}Project-Hub - Home Page{%endblock%}
{%block csslink%} 
  <link rel="stylesheet" href="{% static 'user/css/indexpage.css'%}" />
{%endblock%}

{%block body%}

{% comment %} Alert Message Starts {% endcomment %}
{% if messages %}
  {% for message in messages %}
    <div {%if message.tags%}class="alert  mb-1 border-{{ message.tags }} alert-dismissible fade show alert-{{ message.tags }} myAlert"{%endif%} role="alert">
      <b>{{ message}}</b>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
{% comment %} Alert Message Ends {% endcomment %}

 <!-- Main section -->
 <section class="flex flex-wrap p-6">
  <div class="w-full md:w-1/2 p-6">
      <h1 class="text-4xl font-bold leading-tight">Welcome to My Ecommerce Website!</h1>
      <p class="text-gray-700 text-lg mt-4">We offer a wide selection of high-quality products at affordable
          prices. Shop now and take advantage of our special promotions!</p>
      <a href="/projects/" class="inline-block bg-blue-500 text-white px-4 py-2 rounded mt-4 hover:bg-blue-700">Shop
          Now</a>
  </div>
  <div class="w-full md:w-1/2 p-6">
      <img src="/media/Project_Image/jcKTY_32L07aA.png" alt="Product Image"
          class="w-full rounded shadow-md">
  </div>
</section>

{% comment %} Features product can be 3-4 {% endcomment %}
<section class="bg-gray-100 py-20">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-extrabold text-gray-900 mb-8">Our Featured Products</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 flex-1">

        {% for i in topProjs %}
          <!-- Products -->
          <div class="bg-white rounded-lg shadow-md">
            <a href="/projects/{{i.proj_id}}">
                <img src="/media/{{i.default_image}}" alt="Product"
                    class="w-full h-64 object-cover rounded-t-lg">
            </a>
            <div class="p-4">
                <h3 class="font-medium text-gray-900 mb-2"><a href="#">{{i.title}} {% if i.short_Desc %}<span> ( {{i.short_Desc}} )</span
                  >{% endif %}</a></h3>
                <p class="text-gray-600 text-sm">{{i.full_Desc| truncatechars:130}}</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-900">$19.99</span>
                    <button class="bg-gray-800 text-white py-2 px-4 rounded hover:bg-gray-700">Add to
                        Cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
  </div>
</section>


{%endblock%}
