{% extends 'user/basic.html' %}
{%load static %}
{% comment %} {%block title%}Project-Hub - Authentication {%endblock%} {% endcomment %}
{% block csslink%}
<link rel="stylesheet" href="{% static 'user/css/style1.css'%}" />
{%endblock%}

{%block body%}

<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <h2 class="heading">Login</h2>
      <form id="loginForm" action="" method="post" name="logForm">
        {% csrf_token %}
        <div class="field input-field">
          <input type="email" placeholder="Email" class="input" id="uidLog" name="email" required />
        </div>
          <input type="hidden" name="formType" value="login"/>
        <div class="field input-field">
          <input type="password" placeholder="Password" class="password" id="pass" name="upass" required />
          <i class="bx bx-hide eye-icon"></i>
        </div>

        <div class="field input-field">
          <div id="captchaDiv" class="captchaDiv" style=""> 
            <span id="mainCaptcha" style="" ></span>
          </div>

          {% comment %} <input type="text" id="mainCaptcha" readonly="readonly" {% endcomment %}
             {% comment %} /> {% endcomment %}
          <!-- <img style="width: 10px; height: 10px;" src="./assets/refresh.png" /> -->
        </div>

        <div class="field input-field">
          <!-- <input type="button" id="refresh" value="Refresh" onclick="generateCaptcha();" /> -->
          <input type="text" placeholder="Captcha" class="input" id="captcha" name="captcha" required />
        </div>

        <div class="form-link">
          <a href="#" class="forgot-pass">Forgot password?</a>
        </div>
      </form>
      <div class="field button-field">
        <button id="loginBtn" type="submit">Login</button>
      </div>

      <div class="form-link">
        <span>Don't have an account?
          <a href="#" class="link signup-link">Signup</a></span>
      </div>
    </div>
  </div>

  <div class="form signup">
    <div class="form-content">
      <h2 class="heading">Signup</h2>
      <div id="m-reg">
        <form id="regForm" method="post" action="" method="post" name="regForm">
          {% csrf_token %}
          <div class="field input-field">
            <input type="text" placeholder="Name" class="input" name="name" required />
          </div>

          {% comment %} <div class="field input-field">
            <input type="number" placeholder="Phone No" class="input" name="phone" required />
          </div> {% endcomment %}

          <div class="field input-field">
            <input type="email" placeholder="Email" class="input" id="email" name="email_reg" required />
          </div>
          <input type="hidden" name="formType" value="registration"/>
          {% comment %} <div class="field input-field">
            <input type="address" placeholder="Address" class="input" name="address" required />
          </div> {% endcomment %}

          {% comment %} <div class="field input-field">
            <input type="text" placeholder="Pincode" class="input" name="pincode" required />
          </div> {% endcomment %}

          <div class="field input-field">
            <input type="password" placeholder="Create Password" class="password" name="password" required />
            <i class="bx bx-hide eye-icon"></i>
          </div>
          {% comment %} <div class="field input-field">
            <input type="password" placeholder="Confirm Password" class="password" required />
          </div> {% endcomment %}
        </form>
        <div class="field button-field">
          <button id="regBtn">Send OTP</button>
        </div>
      </div>
      <div id="reg-otp" style="display: none">
        <form id="formOtp">
          <div class="field input-field" id="otpInput">
            <input type="number" placeholder="OTP Here" class="input" id="otpField" name="otp" required />
          </div>
          <div class="form-link">
            <label id="otp-status" class="forgot-pass">Trying to send OTP</label>
          </div>
        </form>
        <div class="field button-field">
          <button id="otpBtn">Confirm OTP</button>
        </div>
      </div>

      <div class="form-link">
        <span>Already have an account?
          <a href="#" class="link login-link">Login</a></span>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  let originalCaptcha;
  generateCaptcha();
  function generateCaptcha() {
    let alpha = new Array(
      "A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z","a","b", "c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"
    );
    let i;

    let a, b, c, d;
    for (i = 0; i < 4; i++) {
      a = alpha[Math.floor(Math.random() * alpha.length)];
      b = alpha[Math.floor(Math.random() * alpha.length)];
      c = alpha[Math.floor(Math.random() * alpha.length)];
      d = alpha[Math.floor(Math.random() * alpha.length)];
    }
    let code = a + " " + b + " " + " " + c + " " + d;
    {% comment %} document.getElementById("mainCaptcha").value = code; {% endcomment %}
    document.getElementById("mainCaptcha").textContent = code;
    originalCaptcha = code;

    let background = new Array("captcha1", "captcha2", "captcha3");
    let back = background[Math.floor(Math.random() * background.length)];
    document.getElementById("captchaDiv").style.backgroundImage =
      "url('../static/user/img/" + back + ".jpg')";
  }

  function CheckValidCaptcha() { 
    const userInput = document.getElementById('captcha');
    let captchaInput = userInput.value;
    {% comment %} captchaInput = removeSpaces(captchaInput); {% endcomment %}
    originalCaptcha = removeSpaces(originalCaptcha);

    console.log(captchaInput+" "+originalCaptcha);


    if(captchaInput == originalCaptcha) {
      if(ValidateEmail(document.getElementById("uidLog"))) {
        logMe();
      } else {
        confirm("Enter a valid email address.");
      }
    } else {
      confirm("Captcha is Invalid, dost?");
    }

  }

  function removeSpaces(string) {
    return string.split(" ").join("");
  }

  function ValidateEmail(input) {
    var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
    if (input.value.match(validRegex)) {
      {% comment %} alert("Valid email address!");
      document.form1.text1.focus(); {% endcomment %}
      return true;
    } else {
      {% comment %} alert("Invalid email address!");
      document.form1.text1.focus(); {% endcomment %}
      return false;
    }
  }
</script>
<script>

  const API = "./api/send-mail.php";

  const logBtn = document.getElementById("loginBtn");
  const regBtn = document.getElementById("regBtn");
  const otpBtn = document.getElementById("otpBtn");
  const uidEl = document.getElementById("uid");
  const passEl = document.getElementById("pass");
  let otp;

  const forms = document.querySelector(".forms");
  const pwShowHide = document.querySelectorAll(".eye-icon");
  const links = document.querySelectorAll(".link");

  logBtn.addEventListener("click", CheckValidCaptcha);

  pwShowHide.forEach((eyeIcon) => {
    eyeIcon.addEventListener("click", () => {
      let pwFields =
        eyeIcon.parentElement.parentElement.querySelectorAll(".password");

      pwFields.forEach((password) => {
        if (password.type === "password") {
          password.type = "text";
          eyeIcon.classList.replace("bx-hide", "bx-show");
          return;
        }
        password.type = "password";
        eyeIcon.classList.replace("bx-show", "bx-hide");
      });
    });
  });

  links.forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault();
      forms.classList.toggle("show-signup");
    });
  });

  regBtn.addEventListener("click", () => {
    if(ValidateEmail(document.getElementById("email"))) {
      let email = document.getElementById("email").value;
      otp = Math.floor(100000 + Math.random() * 900000);
      console.log(otp);
  
      {% comment %} const xhr = new XMLHttpRequest();
  
      xhr.open("GET", API + "?email=" + email + "&otp=" + otp, true);
  
      xhr.onload = function () {
        if (this.status === 200) {
          console.log(this.responseText);
          let jsonObj = JSON.parse(this.responseText);
          if (jsonObj.success === true) {
            document.getElementById("otp-status").innerHTML = "OTP sent on email";
          } else {
            document.getElementById("otp-status").innerHTML =
              "OTP sent failed, try again";
          }
        } else {
          console.log("Error");
        }
      };
      xhr.send(); {% endcomment %}
      document.getElementById("m-reg").style.display = "none";
      document.getElementById("reg-otp").style.display = "block";
    } else {
      confirm("Enter a valid email address?");
    }
    
  });

  otpBtn.addEventListener("click", () => {
    let userOtp = document.getElementById("otpField").value;
    if (userOtp == otp) {
      regMe();
    } else {
      alert("Invalid OTP");
      document.getElementById("otpField").value = "";
    }
  });

  function regMe() {
    document.getElementById('regForm').submit();
  }

  function logMe() {
    document.getElementById('loginForm').submit();
  }

  {% comment %} function regMe() {
    const xhr = new XMLHttpRequest();
    xhr.open("POST", "./api/register.php", true);
    xhr.getResponseHeader("Content-type", "application/x-www-form-urlencoded");

    xhr.onload = function () {
      if (this.status === 200) {
        console.log(this.responseText);
        let jsonObj = JSON.parse(this.responseText);
        if (jsonObj["success"] === true) {
          alert("Registration Successfull");
          window.location = "http://localhost/food/login.php";
        } else {
          alert(jsonObj["message"]);
        }
      } else {
        alert("Server error, Please try again later.");
      }
    };

    let formData = new FormData(document.getElementById("regForm"));

    xhr.send(formData);
  } {% endcomment %}

  {% comment %} function logMe() {
    let string1 = removeSpaces(document.getElementById("mainCaptcha").value);
    let string2 = removeSpaces(document.getElementById("captcha").value);

    console.log(string1 + " = " + string2);

    if (string1 == string2) {
      const xhr = new XMLHttpRequest();
      xhr.open("POST", "./api/login.php", true);
      xhr.getResponseHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );

      xhr.onload = function () {
        if (this.status === 200) {
          console.log(this.responseText);
          let jsonObj = JSON.parse(this.responseText);
          if (jsonObj["success"] === true) {
            alert(jsonObj["message"]);
            window.location = "./index.php";
          } else {
            alert("Invalid Username Or Password");
          }
        } else {
          console.log("Error");
          alert("Some error occured, try again later.");
        }
      };

      let formData = new FormData(document.getElementById("loginForm"));
      xhr.send(formData);

      return true;
    } else {
      // document.getElementById("error").innerHTML =
      //   "Please enter a valid captcha.";
      alert("Please enter a valid captcha.");
      return false;
    }
  } {% endcomment %}
</script>
{%endblock%}