{% extends 'user/basic.html' %}
{%load static %}
{%block title%}User Account | ProjectCodes{%endblock%}
{%block csslink%}
<link rel="stylesheet" href="{% static 'user/css/authstyle.css'%}" />
{%endblock%}

{%block css%}

{%endblock%}

{%block body%}

<section class="container forms" style="background: none;">
  {% for message in messages %}
        <div {%if message.tags%}
                class="alert m-auto fixed-bottom mb-1 border-{{ message.tags }} alert-dismissible fade show alert-{{ message.tags }} myAlert"
            {%endif%} 
                role="alert" style="width:fit-content;bottom:10vh;">

            <b>{{ message}}</b>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
  <div id="customAlert">
    {% comment %} custom alert here  {% endcomment %}
  </div>

  <div class="form login">
    <div class="form-content">
      <h2 class="heading">Login</h2>
      
      <form id="loginForm" action="/login/" method="post" name="logForm" onsubmit="return validateCaptcha()">
        {% csrf_token %}
        <div class="field input-field">
          <input type="email" placeholder="Email" class="input" id="uidLog" name="email" required />
        </div>
        <input type="hidden" name="formType" value="login" />

        <div class="field input-field">
          <input type="password" placeholder="Password" class="password" id="pass" name="upass" required />
          <i class="bx bx-hide eye-icon"></i>
        </div>

        <div class="field input-field">
          <div id="captchaDiv" class="captchaDiv">
            <span id="mainCaptcha"></span>
          </div>
        </div>

        <div class="field input-field">
          <input type="text" placeholder="Captcha" class="input" id="captcha" name="captcha" maxlength="4" required />
        </div>

        <div class="form-link">
          {% comment %} <a href="#" class="forgot-pass">Forgot password?</a> {% endcomment %}
        </div>

        <div class="field button-field">
          <button id="loginBtn" type="submit">Login</button>
        </div>

      </form>

      <div class="form-link">
        <span>Don't have an account?
          <a href="#" class="link signup-link">Signup</a>
        </span>
      </div>
    </div>
  </div>

  <div class="form signup">
    <div class="form-content">
      <h2 class="heading">Signup</h2>
      
      <div id="m-reg">
        {% comment %} user detail signup form {% endcomment %}
        <form id="regForm" method="post" action="/login/" name="regForm">
          {% csrf_token %}
          <div class="field input-field">
            <input type="text" placeholder="First name" class="input" name="f_name" id="f_name"  maxlength="15" required />
          </div>
          <div class="field input-field">
            <input type="text" placeholder="Last name" class="input" name="l_name"  id="l_name" maxlength="15" required />
          </div>

          <div class="field input-field">
            <input type="email" placeholder="Email" class="input" id="regi_email" name="email_reg" required />
          </div>
          <input type="hidden" name="regi_formType" value="registration" />

          <div class="field input-field">
            <input type="password" placeholder="Create Password" class="password" name="password" id="regPass1"
              maxlength="16" required />
            <i class="bx bx-hide eye-icon"></i>
          </div>
          <div class="field input-field">
            <input type="password" placeholder="Password (again)" class="password" name="" id="regPass2" maxlength="16" required />
              <i class="bx bx-hide eye-icon"></i>
            </div>
        </form>

        <div class="field button-field">
          <button id="regBtn">Send OTP</button>
        </div>
      </div>

      <div id="reg-otp" style="display: none">
        {% comment %} otp input form  {% endcomment %}
        <form id="formOtp" method ="post" onsubmit="return otpFormSubmit()">
          {% csrf_token %}
          
          <div class="field input-field" id="otpInput">
            <input type="number" placeholder="OTP Here" class="input" id="otpField" name="otp1" required />
          </div>
          
          <div class="form-link fs-6 mt-2 mb-1 text-center" style="width:100%;" id="emailspan"> </div>
          
          <div class="button-field text-center">
            <button id="otpBtn" type="submit" class="btn btn-primary py-3 my-2 w-100">Confirm OTP</button>
          </div>
        </form>
          <div class="text-center">
            <a href="/login" ><button class="btn btn-secondary text-light" >Cancel</button> </a>
          </div>

      </div>

      <div class="form-link">
        <span>Already have an account?
          <a href="#" class="link login-link">Login</a></span>
      </div>
    </div>
  </div>
</section>
{%endblock%}
{%block JS%}
<script>
  generateCaptcha();
  function generateCaptcha() {
    document.getElementById('mainCaptcha').innerHTML = "";
    let alpha = "0123456789abcdefghijkmnopqrstuvwxyzABCDEFGHJKLMNOPQRSTUVWXYZ";
    for (var i = 0; i < 4; i++) {
      a = alpha[Math.floor(Math.random() * alpha.length)];
      b = alpha[Math.floor(Math.random() * alpha.length)];
      c = alpha[Math.floor(Math.random() * alpha.length)];
      d = alpha[Math.floor(Math.random() * alpha.length)];

    }
    code = a + b + c + d;
    document.getElementById("mainCaptcha").innerHTML = code;
    let background = new Array("captcha1", "captcha2", "captcha3");
    let back = background[Math.floor(Math.random() * background.length)];
    document.getElementById("captchaDiv").style.backgroundImage =
      "url('../static/user/img/" + back + ".jpg')";
  }

  function validateCaptcha() {
    if (document.getElementById("captcha").value == code) {
      return true;
    }
    else {
      alert("Captcha do not match. Try Again");
      document.getElementById("captcha").value = "";
      generateCaptcha();
      return false;
    }
  }
</script>

<script>

  const API = "/sendOtp/";

  const logBtn = document.getElementById("loginBtn");
  const regBtn = document.getElementById("regBtn");
  const uidEl = document.getElementById("uid");
  const passEl = document.getElementById("pass");
  let otp;

  const forms = document.querySelector(".forms");
  const pwShowHide = document.querySelectorAll(".eye-icon");
  const links = document.querySelectorAll(".link");

  customAlert= document.getElementById('customAlert')
  customAlert.innerHTML=""

  pwShowHide.forEach((eyeIcon) => {
    eyeIcon.addEventListener("click", () => {
      let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");

      pwFields.forEach((password) => {
        if (password.type === "password") {
          password.type = "text";
          eyeIcon.classList.replace("bx-hide", "bx-show");
          return;
        }
        password.type = "password";
        eyeIcon.classList.replace("bx-show", "bx-hide");
      });
    });
  });

  links.forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault();
      forms.classList.toggle("show-signup");
    });
  });


  regBtn.addEventListener("click", () => {

    const regPass1 = document.getElementById("regPass1").value;
    const regPass2 = document.getElementById("regPass2").value;

    if (regPass1 != regPass2) {
      alert("Passwords do not match !")
    }
    else if (regPass1.length < 5) {
      alert("Password must contain atleast 5 characters !")
    }
    else {
      let inpRegi_email = document.getElementById("regi_email").value;

      regBtn.disabled= true;
      regBtn.innerHTML= '<div class="spinner-border " role="status"><span class="visually-hidden">Loading...</span></div>';
      regBtn.classList.add('btn')
      regBtn.classList.add('btn-secondary')

      $.ajax({

        type: "POST",
        url: "/sendOtp/",
        data: {
          email : inpRegi_email,
          csrfmiddlewaretoken: '{{ csrf_token }}',
        },

        success: function (data) {
          if( data.success == true){
            document.getElementById("m-reg").style.display = "none";
            document.getElementById("reg-otp").style.display = "block";
            customAlert.innerHTML='<div class="alert m-auto fixed-bottom mb-1 border-success alert-dismissible fade show alert-success myAlert"role="alert" style="width:fit-content;bottom: 5vh;"><b>'+data.msg+' '+data.email+'</b><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';
            document.getElementById("emailspan").innerHTML = 'Please enter the OTP sent to <span class="fw-medium">'+data.email +' .</span><br><b>OTP is valid only for 5 minutes.<b>';
            
            autoAlertClose()
            
          }
          else{
            location.reload()
            
          }
        },

        
      })

    

    }
  });

  $('#otpField').keypress(function (e){
    var otp = $(this).val();
    
    if (otp.length >5){
      e.preventDefault();
    }
  })

  function otpFormSubmit(){ 
    let userInpOtp = document.getElementById("otpField").value;    
    let inpRegi_email = document.getElementById("regi_email").value;
    let password = document.getElementById('regPass1').value;
    let l_name = document.getElementById('l_name').value;
    let f_name = document.getElementById('f_name').value;

        
    $.ajax({

      type: "POST",
      url: "/login/",
      data: {
        email : inpRegi_email,
        input_otp: userInpOtp,
        password: password,
        f_name: f_name,
        l_name: l_name,
        formType: 'registration',
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },

      success: function (data) {
        console.log(data)
        console.log(data.success)
        if( data.success == true){
          location.reload();
        }
        else if(data.msg== 'Invalid OTP'){
          console.log(data.msg)
          
          customAlert.innerHTML='<div class="alert m-auto fixed-bottom mb-1 border-danger alert-dismissible fade show alert-danger myAlert"role="alert" style="width:fit-content;bottom:5vh;"><b>OTP is incorrect</b><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';
          autoAlertClose()
          return false
        }
        else{
          location.reload()
        }
      },
      
    })
    return false
  };
  
 function autoAlertClose(){
    setTimeout(() => {
      $('.myAlert').alert('close')
    }, 4000);
  }
  {% comment %} function regMe() {

    document.getElementById('regForm').submit();
  } {% endcomment %}

  {% comment %} function logMe() {
    document.getElementById('loginForm').submit();
  } {% endcomment %}

  {% comment %} function regMe() {
    const xhr = new XMLHttpRequest();
    xhr.open("POST", "./api/register.php", true);
    xhr.getResponseHeader("Content-type", "application/x-www-form-urlencoded");

    xhr.onload = function () {
      if (this.status === 200) {
        console.log(this.responseText);
        let jsonObj = JSON.parse(this.responseText);
        if (jsonObj["success"] === true) {
          alert("Registration Successfull");
          window.location = "http://localhost/food/login.php";
        } else {
          alert(jsonObj["message"]);
        }
      } else {
        alert("Server error, Please try again later.");
      }
    };

    let formData = new FormData(document.getElementById("regForm"));

    xhr.send(formData);
  } {% endcomment %}

  {% comment %} function logMe() {
    let string1 = removeSpaces(document.getElementById("mainCaptcha").value);
    let string2 = removeSpaces(document.getElementById("captcha").value);

    console.log(string1 + " = " + string2);

    if (string1 == string2) {
      const xhr = new XMLHttpRequest();
      xhr.open("POST", "./api/login.php", true);
      xhr.getResponseHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );

      xhr.onload = function () {
        if (this.status === 200) {
          console.log(this.responseText);
          let jsonObj = JSON.parse(this.responseText);
          if (jsonObj["success"] === true) {
            alert(jsonObj["message"]);
            window.location = "./index.php";
          } else {
            alert("Invalid Username Or Password");
          }
        } else {
          console.log("Error");
          alert("Some error occured, try again later.");
        }
      };

      let formData = new FormData(document.getElementById("loginForm"));
      xhr.send(formData);

      return true;
    } else {
      // document.getElementById("error").innerHTML =
      //   "Please enter a valid captcha.";
      alert("Please enter a valid captcha.");
      return false;
    }
  } {% endcomment %}
</script>
{%endblock%}