<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Paytm payment page</title>
</head>
<body>
    {% comment %} https://securegw-stage.paytm.in/theia/processTransaction {% endcomment %}
    {% comment %} https://securegw-stage.paytm.in/v3/order/status {% endcomment %}
    <form action="https://securegw-stage.paytm.in/theia/api/v1/initiateTransaction?mid={{data_dict.MID}}&orderId={{data_dict.ORDER_ID}}" method="post" id="paytm">
        
        {% for key, value in data_dict.items %}
        <input type="hidden" name="{{key}}" value="{{value}}">
        {% endfor %}
       {% comment %} <input type="submit" value="Submit"> {% endcomment %}
        
    </form>

    <script>
        document.getElementById("paytm").submit();

    </script>
</body>
</html>