{% extends 'user/basic.html' %}
{%load static %}
{%block title%}Project-Hub : profile{%endblock%}
{%block body%}
<section class="mar-top">
    <input type="button" value="profile"> 
    <input type="button" value="purchase"> 
<div class="card">
    <div class="imgBx">
         <img src="{% static 'user/img/istockphoto-1284693553-612x612.jpg'%}">
     </div>
         <div class="content">
            <div class="details">
              <h2> Name</h2>
              <h2> Name</h2>

            </div>
         </div>
        
         <input type="button" value=" purchase"> 
</div>

<div class="card-2">
</div>
</section>


{%endblock body%}