{% extends 'user/basic.html' %}
{%load static %}
{%block title%}Latest Responsive Templates With Wonderful Design for Your Website | ProjectCodes{%endblock%}
{%block csslink%}
<link rel="stylesheet" href="{% static 'user/css/project-cards.css'%}" />
{%endblock%}

{%block css%}
    body{
        /* background:#d6d8db; */
    }
    .cardBody .title{
        font-weight: 500;
        color: #000000;
    }
    .cardBody .title:hover{
        /* color: #ff4422; */
        /* text-decoration: underline; */
        transition: all 0.3s ease;
        color: #3cc02d;
        cursor: pointer;
    }
    .filters{
        height:fit-content;
        width: 20%;
        top:12vh;
        position:sticky;
        margin-right: .5rem;
    }
    .templates-body{
        height:fit-content;
        min-height:30rem;
        width: 60%;
        top:12vh;
        position:sticky;
    }

    .templates-body .card{
        display: flex;
        flex-direction: row;
        margin: .5rem;
        margin-bottom: 1.5rem;
    }
    .templates-body .card .imgDiv img{
        height:10rem;
        width:17rem;
    }

    .prfltItm:hover{
        {% comment %} text-decoration: underline; {% endcomment %}
        color:rgb(227, 94, 42);
    }
    .filterActive{
        color:rgb(227, 94, 42);
        /* color:aqua; */
        font-weight:600;
        text-decoration: underline;
    }

    .viewBtn {
        outline: 0;
        border: 0;
        background: none;
        border: 1px solid #d9d9d9;
        padding: 8px 40px;
        color: #515151;
        text-transform: uppercase;
        width: 125px;
        font-family: inherit;
        margin-right: 5px;
        transition: all 0.3s ease;
        font-weight: 500;
      }
      .viewBtn:hover {
        border: 1px solid #3cc02d;
        color: #3cc02d;
        cursor: pointer;
      }

      .template-footer{
        width: 25%;
      }
      .collapseBtn{
          visibility: hidden;
      }

    @media screen and (max-width: 993px) {
        .templates{
            flex-direction:column;
            /* background-color: #3cc02d;
            width: 45vw; */
        }
        .filters{
            position: static;
            width: fit-content;
            /* width: 100%; */
            /* display: flex; */
            margin-right: 0rem;
            margin-bottom: .2rem;
            
        }
        .filters .filterItem{
            width: 12rem;
            border: 1px solid gray;
        }
        .templates-body{
            position: static;
            width: 100%;
        }
        .template-footer{
            position: static;
            width: 100%;
            margin-top: 1rem;
        }
        .collapseBtn{
            visibility:visible;
        }
      }
    @media screen and (max-width: 700px) {
        .templates-body .card{
            display: flex;
            flex-direction: column;
        }
        .templates-body .card .imgDiv img{
            height:12rem;
            width:100%;
        }
        
      }
    
{%endblock%}

{%block body%}
{% if messages %}
  {% for message in messages %}
    <div {%if message.tags%}class="alert m-auto fixed-bottom mb-1 border-{{ message.tags }} alert-dismissible fade show alert-{{ message.tags }} myAlert"{%endif%} role="alert" style="width:fit-content;bottom:10vh;">
      <b>{{ message}}</b>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
    <div class=" d-flex templates">

        {% comment %} <div id="alert-section" class="fixed-bottom m-auto fw-semibold" style="bottom:10vh;width:fit-content;"></div> Alert Message Dialog {% endcomment %}
        
        <div class=" bg-light p-0 filters">
            <div class="container filterItem">
                <div class="border-bottom border-dark-subtle">
                    <h4 class=" m-2 d-flex justify-content-between">
                        <span>Filters</span>
                    
                    <button class="btn collapseBtn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </button>
                    </h4>
                </div>
                <div class="" id="collapseFilter">
                    {% comment %} <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div> {% endcomment %}
                    <div class="">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                PRICE
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body p-0 ps-2">
                                    <div class="row m-2 prfl">
                                        <a href="/templates/" class="prfltItm" id="all">All</a>
                                    
                                        <a href="/templates/under1k" class="prfltItm" id="under1k">Under ₹1,000</a>
                                    
                                        <a href="/templates/over1k" class="prfltItm" id="over1k">Over ₹1,000</a>
                                    
                                        <a href="/templates/free" class="prfltItm" id="free">Free</a>
                                </div>
                                    
                                </div>
                            </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="p-3 d-flex">
                        <a href="/logout" class="btn btn-outline-info mx-auto">Logout</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="= p-2 bg-light templates-body ">
            <nav aria-label="breadcrumb" class="p-1 my-0">
                <ol class="breadcrumb m-0 ">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Templates</li>
                </ol>
            </nav>
            <h4 class="pb-2 mb-3 border-bottom border-dark-subtle">Responsive Templates ></h4>
            {% if templates %}
                {% for item in templates %}
                    <div class="card ">
                        <div class="imgDiv ">
                            <a href="/templates/view/{{item.proj_id}}"><img src="/media/{{item.default_image}}" alt="{{item.title}}" srcset="" title="{{item.title}} {% if item.short_Desc %} ( {{item.short_Desc}} ){% endif %}"></a>
                        </div>
                        <div class="cardBody my-2 mx-3">
                            <a href="/templates/view/{{item.proj_id}}" class="title fs-4 ">{{item.title}}</a>
                            <div class="desc">
                                <p class="fs-6 m-0">{{item.full_Desc| truncatechars:130}}</p>
                                 <p class="m-0 text-secondary" style="font-family: 'Poppins';">By <span  class="fs-6 text-danger-emphasis">{{item.created_by}} </span>&diams; {{item.publish_date|date:"F d, Y"}} </p>
                            </div>  
                            <div class=" align-items-center">
                                <h1 class="m-0 mt-3 fs-5">
                                    {% if  item.free %}
                                        <span class="fw-semibold ">Free</span>
                                        <span class="text-decoration-line-through "> {{item.price}}0</span>
                                    {% elif item.discounted_price %}
                                        <span class="fw-semibold fs-5">₹ {{item.discounted_price}}0</span> 
                                        <span class="text-decoration-line-through"> {{item.price}}0</span>
                                    {%else%}
                                        <span class="fw-semibold fs-5"> ₹ {{item.price}}0</span>
                                    {%endif%}
                                </h1>
                                <div class="my-3 mx-2">
                                    <a href="/templates/view/{{item.proj_id}}" class="viewBtn">View</a>
                                </div>
                            </div>  
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="column m-4" style="color:black;">
                <h3>No items were found matching this filter.</h3>
                <h4>Suggestions:</h4>
                <ul>
                    <li class="fw-semibold">Try different filter.</li>
                    <li class="fw-semibold">Use appropriate filter.</li>
                </ul>
                <a href="/" class=" btn btn-outline-dark"><b>Go to home</b></a>
            </div>
            {% endif %}
          
           
        </div>
        <div class=" p-2 bg-light template-footer">
            <div>
                <div class="border-bottom border-dark-subtle">
                    <p class="fs-3 px-3">Follow Us </p>
                </div>                          
            </div>                          
        </div>
    </div>

{%endblock body%}

{%block JS%}
<script>

    var slug = window.location.pathname.split('/')[2];
    $('.prfltItm').removeClass('activePage')

    if(slug== ""){
        $('#all').addClass('filterActive').bind('click', false);
    }
    else{
        $('#'+slug).addClass('filterActive').bind('click', false);
    }


    {% comment %} urldata= window.location.href() {% endcomment %}

    {% comment %} $('.prfltItm').click(function () {
        slug = $(this).attr("pr")

        $.ajax({
            type: "GET",
            url: "/templates/",
            data: {
                pr=slug,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {
                console.log(data)
            }
        })

    }) {% endcomment %}


    function myFunction(x) {
        if (x.matches) { // If media query matches
          document.getElementById('collapseFilter').classList.add("collapse");
        } else {
            document.getElementById('collapseFilter').classList.remove("collapse");
        }
      }
      
      var x = window.matchMedia("(max-width: 993px)")
      myFunction(x) // Call listener function at run time
      x.addListener(myFunction)
</script>
{%endblock JS%}
